/* * {
  margin: 0;
  padding: 0;
  background-color: #2f2f2f;
} */
.main {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.d1 {
  position: absolute;
  background-image: url(https://images.squarespace-cdn.com/content/v1/519543bde4b0ac0a66b22b52/1520530161542-ZX9UO7QIPLP188MRL26I/ke17ZwdGBToddI8pDm48kO1t67wKeRkcMK7cV5HFsjB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmo3_5ncHsS_KC884-Z46vJZmKJ9CjiZ3uOwlnlF97c2NoBEap375-kem-8n0n2lPY/Ruby+%26+The+Wolf+Workshop+at+The+forge.jpg?format=2500w);
  background-size: 800px 800px;

  height: 30vh;
  width: 15vw;

  background-position: 0 50%;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  animation: dd1 10s 1, dd12 10s 1;
  animation-delay: 4s, 14s;
}
.d2 {
  position: absolute;
  background-image: url(https://images.squarespace-cdn.com/content/v1/54646bc3e4b033624e78570a/1515739607726-PU56KFOL0SJOH6WQIMOS/ke17ZwdGBToddI8pDm48kJKo3YTR7zgUvInmXMbZ6zZ7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0geeCvn1f36QDdcifB7yxGjTk-SMFplgtEhJ5kBshkhu5q5viBDDnY2i_eu2ZnquSA/image-asset.jpeg?format=2500w);
  background-size: 600px 600px;

  height: 50vh;
  width: 25vw;

  background-position: -10vw 50%;
  left: 10vw;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd2 10s 2;
  animation-delay: 4s;
}
.d3 {
  position: absolute;
  background-image: url(https://cdn.shopify.com/s/files/1/0641/2459/files/blog_IMG_7377.jpg?29710);
  background-size: 800px 800px;
  overflow: hidden;

  height: 100vh;
  width: 40vw;
  left: 25vw;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  background-position: -35vw 50%;

  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  animation: dd3 10s 2;
  animation-delay: 4s;
}
.d4 {
  position: absolute;
  overflow: hidden;
  background-image: url(https://images.curbly.com/QoMb_WdHBqfKPMhcKVptY3bMzW-f1ufvynLhhdvNXKQ/w:709/plain/http://assets.curbly.com/photos/0000/0022/7482/kraft_gift_wrap_9.jpg);
  background-size: 500px 500px;

  height: 80vh;
  width: 25vw;
  left: 60vw;
  background-position: -70vw 50%;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd4 10s 2;
  animation-delay: 4s;
}

@keyframes dd1 {
  0% {
  }
  50% {
    width: 95vw;
  }
}
@keyframes dd12 {
  0% {
  }
  50% {
    background-position: Calc(0vw - 40px) 50%;
  }
}
@keyframes dd2 {
  0% {
  }
  50% {
    background-position: Calc(-10vw - 40px) 50%;
  }
}
@keyframes dd3 {
  0% {
  }
  50% {
    background-position: Calc(-35vw - 40px) 50%;
  }
}
@keyframes dd4 {
  0% {
  }
  50% {
    background-position: Calc(-70vw - 40px) 50%;
  }
}
